

<mat-card *ngFor="let task of tasks" class="task-card mat-elevation-z10">

    <mat-card-header>

        <mat-card-title>{{task.description}}</mat-card-title>

    </mat-card-header>

    <img mat-card-image [src]="task.uploadedImageUrl ? task.uploadedImageUrl : task.iconUrl">

    <mat-card-content>

    </mat-card-content>

    <mat-card-actions class="task-actions">

        <button  class="button is-info bubutton" [routerLink]="['/tasks', task.url]">
          <span>view</span>&nbsp;<i class="fa fa-search-plus"></i>
        </button>


      <!--<ng-container *ngIf="user | async as userobk">-->


        <button class="button is-primary bubutton" *ngIf="user?.isAdmin"
                (click)="editTask(task)">
          <span>edit</span>&nbsp;<i class="fa fa-edit"></i>
        </button>

      <!--</ng-container>-->


    </mat-card-actions>

</mat-card>
